Repository zoobzio/rocco: changes, and which Codecov flags are due for each by the changed paths.
All: HTTP Handlers, Engine, Documentation, Core

.codecov.yml:

# Codecov configuration for rocco
# Documentation: https://docs.codecov.io/docs/codecov-yaml

# Repository configuration
codecov:
  # Require Codecov to find CI builds
  require_ci_to_pass: true

  # Max number of CI builds to wait for
  max_report_age: 24h

  # Disable default Codecov comments and statuses until properly configured
  notify:
    after_n_builds: 1
    wait_for_ci: true

# Coverage configuration
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  # 0-70%: red, 70-80%: yellow, 80-100%: green
  range: "70...100"

  # Status checks
  status:
    # Overall project coverage
    project:
      default:
        # Coverage can drop by 1% and still pass
        threshold: 1%
        target: 90%  # Target coverage percentage
        base: auto
        if_ci_failed: error
        if_not_found: error
        informational: false
        only_pulls: false

      # Separate status for core library
      library:
        target: 90%
        threshold: 1%
        paths:
          - "*.go"
          - "!*_test.go"
        if_ci_failed: error

    # Coverage for changed files in PR
    patch:
      default:
        target: 90%  # New code should have 90% coverage
        threshold: 0%
        base: auto
        if_ci_failed: error
        if_not_found: error
        informational: false
        only_pulls: true

# Files to ignore in coverage
ignore:
  - "**/*_test.go"      # Test files themselves
  - "**/mock_*.go"      # Mock files
  - "**/testdata/**"    # Test data
  - "docs/**"           # Documentation
  - ".github/**"        # GitHub workflows
  - "vendor/**"         # Vendor directory (if exists)

# Comment configuration for PRs
comment:
  # Post comment on PRs
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  show_carryforward_flags: true
  show_critical_paths: true

  # Comment when coverage changes by at least 0.5%
  after_n_builds: 1

# Component configuration
component_management:
  # Define individual components
  individual_components:
    - component_id: handlers
      name: HTTP Handlers
      paths:
        - "handler*.go"
        - "!*_test.go"

    - component_id: engine
      name: Engine
      paths:
        - "engine*.go"
        - "!*_test.go"

    - component_id: docs
      name: Documentation
      paths:
        - "docs*.go"
        - "openapi*.go"
        - "!*_test.go"

    - component_id: core
      name: Core
      paths:
        - "*.go"
        - "!handler*.go"
        - "!engine*.go"
        - "!docs*.go"
        - "!openapi*.go"
        - "!*_test.go"

# Flags for different test runs
flags:
  # Unit tests
  unit:
    carryforward: true

# GitHub Checks
github_checks:
  annotations: true

# Parsers configuration
parsers:
  go:
    partials_as_hits: true

# Upload configuration
uploads:
  # Disable uploading for forks
  disable_default_path_fixes: false

fix: deps issue
  go.mod
  go.sum
Due: none

fix: remove dead code
  handler.go.broken
Due: none

feat: scalar docs
  cmd/example/main.go
  engine.go
  engine_test.go
Due: Engine

feat: configurable logger
  engine.go
  engine_test.go
  handler.go
Due: HTTP Handlers, Engine

feat: expand openapi docs
  README.md
  docs.go
  docs_test.go
  openapi.go
Due: Documentation

feat: handler middleware
  README.md
  engine.go
  engine_test.go
  handler.go
  handler_test.go
  interfaces.go
Due: HTTP Handlers, Engine, Core

feat: builder API + recursine type scanning
  README.md
  cmd/example/main.go
  docs_test.go
  engine.go
  engine_test.go
  go.mod
  go.sum
  handler.go
  handler_test.go
Due: HTTP Handlers, Engine

fix: simplify logging
  engine.go
  handler.go
Due: HTTP Handlers, Engine

fix: coverage
  Makefile
  handler_test.go
Due: none

feat: capitan observability hooks
  .golangci.yml
  README.md
  engine.go
  engine_test.go
  events.go
  events_test.go
  go.mod
  go.sum
  handler.go
  handler_test.go
  interfaces.go
  interfaces_test.go
Due: HTTP Handlers, Engine, Core

feat: expand test coverage
  docs_test.go
  engine_test.go
  handler_test.go
Due: none

chore: update deps
  go.mod
  go.sum
Due: none

feat: refine observability hooks
  README.md
  engine.go
  events.go
  events_test.go
  go.mod
  go.sum
  handler.go
  handler_test.go
  interfaces.go
  interfaces_test.go
Due: HTTP Handlers, Engine, Core

feat: capitan severity + full openapi support
  docs.go
  docs_test.go
  engine.go
  engine_test.go
  go.mod
  go.sum
  handler.go
  interfaces.go
  interfaces_test.go
  openapi.go
  openapi_test.go
  validate_test.go
Due: HTTP Handlers, Engine, Documentation, Core

chore: tidy go.mod
  go.mod
  go.sum
Due: none

feat: describe signals
  engine.go
  engine_test.go
  events.go
  go.mod
  go.sum
Due: Engine, Core

feat: identity management
  cmd/example/main.go
  docs.go
  docs_test.go
  engine.go
  engine_test.go
  events_test.go
  handler.go
  identity.go
  identity_test.go
  interfaces.go
  request.go
Due: HTTP Handlers, Engine, Documentation, Core

feat: observable auth
  engine.go
  events.go
Due: Engine, Core

feat: optimize spec creation
  docs.go
  docs_test.go
  engine.go
  handler.go
  handler_test.go
  identity_test.go
  interfaces.go
  interfaces_test.go
  spec.go
Due: HTTP Handlers, Engine, Documentation, Core

fix: test coverage
  docs_test.go
  engine_test.go
  errors_test.go
  identity_test.go
  testing/helpers_test.go
Due: none

feat: update to openapi v3.1.0
  .golangci.yml
  Makefile
  README.md
  config.go
  docs.go
  docs/1.overview.md
  docs/2.learn/2.concepts.md
  docs/2.learn/3.architecture.md
  docs/3.guides/1.handlers.md
  docs/3.guides/4.openapi.md
  docs/3.guides/6.streaming.md
  docs/4.cookbook/4.realtime.md
  docs/5.reference/1.api.md
  docs/5.reference/3.events.md
  docs_test.go
  engine.go
  engine_test.go
  events.go
  events_test.go
  go.mod
  go.sum
  handler.go
  handler_test.go
  identity_test.go
  request.go
  spec.go
  stream.go
  stream_test.go
  testing/README.md
  testing/benchmarks/stream_test.go
  testing/helpers.go
  testing/helpers_test.go
  testing/integration/stream_test.go
  validate_test.go
Due: HTTP Handlers, Engine, Documentation, Core

fix: update test coverage
  docs_test.go
  engine_test.go
  stream_test.go
  testing/helpers_test.go
  validate_test.go
Due: none

fix: handle functional errors
  .github/workflows/release.yml
  docs/5.reference/3.events.md
  engine.go
  events.go
  handler.go
  stream.go
Due: HTTP Handlers, Engine, Core

fix: improve coverage
  engine_test.go
  handler_test.go
  stream_test.go
  testing/helpers_test.go
Due: none

chore: update sentinel
  docs.go
  docs/5.reference/2.errors.md
  docs_test.go
  errors.go
  go.mod
  go.sum
  handler.go
  stream.go
Due: HTTP Handlers, Documentation, Core

fix: strip wildcard suffix when extracting path params
  handler_test.go
  request.go
Due: Core

fix: strip wildcard suffix when extracting path params (#32)
  handler_test.go
  request.go
Due: Core

fix: derive handler name suffix from stable hash instead of crypto/rand
  handler.go
  handler_test.go
Due: HTTP Handlers

fix: derive handler name suffix from stable hash instead of crypto/rand (#34)
  handler.go
  handler_test.go
Due: HTTP Handlers

chore: add dev environment bootstrap script
  CONTRIBUTING.md
  scripts/setup-dev.sh
Due: none

chore: add dev environment bootstrap script (#37)
  CONTRIBUTING.md
  scripts/setup-dev.sh
Due: none

fix: exempt streams from WriteTimeout, add WithTimeouts (#36)
  config.go
  config_test.go
  docs/3.guides/6.streaming.md
  engine.go
  engine_test.go
  stream.go
  stream_test.go
Due: Engine, Core

test: use context-aware request in stream timeout test (noctx lint)
  stream_test.go
Due: none

fix: exempt streams from WriteTimeout, add WithTimeouts (#36) (#39)
  config.go
  config_test.go
  docs/3.guides/6.streaming.md
  engine.go
  engine_test.go
  stream.go
  stream_test.go
Due: Engine, Core

fix: mechanical cleanup of duplicated and drifted response/authz code
  docs.go
  engine.go
  engine_test.go
  handler.go
  handler_test.go
  identity.go
  identity_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Engine, Documentation, Core

fix: mechanical cleanup of duplicated and drifted response/authz code (#40)
  docs.go
  engine.go
  engine_test.go
  handler.go
  handler_test.go
  identity.go
  identity_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Engine, Documentation, Core

feat!: declare request/response contracts in HandlerSpec
  docs.go
  docs_test.go
  handler.go
  handler_test.go
  interfaces_test.go
  spec.go
  spec_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Documentation, Core

feat!: declare request/response contracts in HandlerSpec (#41)
  docs.go
  docs_test.go
  handler.go
  handler_test.go
  interfaces_test.go
  spec.go
  spec_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Documentation, Core
