Repository zoobzio/rocco: changes, and which Codecov flags are due for each by the changed paths.
All: HTTP Handlers, Engine, Documentation, Core

fix: dedupe request-body decoding and derive error schema from wire struct
  docs.go
  handler.go
  request.go
  stream.go
Due: HTTP Handlers, Documentation, Core

fix: dedupe request-body decoding and derive error schema from wire struct (#42)
  docs.go
  handler.go
  request.go
  stream.go
Due: HTTP Handlers, Documentation, Core

feat!: declare media types on request/response contracts
  docs.go
  docs_test.go
  engine.go
  engine_test.go
  events.go
  handler.go
  handler_test.go
  spec.go
  spec_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Engine, Documentation, Core

feat!: declare media types on request/response contracts (#44)
  docs.go
  docs_test.go
  engine.go
  engine_test.go
  events.go
  handler.go
  handler_test.go
  spec.go
  spec_test.go
  stream.go
  stream_test.go
Due: HTTP Handlers, Engine, Documentation, Core

feat: binary handlers — RawBody input and Blob output via BodyRaw contract
  docs.go
  docs_test.go
  handler.go
  handler_test.go
  raw.go
  request.go
  spec.go
Due: HTTP Handlers, Documentation, Core

feat: binary handlers — RawBody input and Blob output via BodyRaw contract (#45)
  docs.go
  docs_test.go
  handler.go
  handler_test.go
  raw.go
  request.go
  spec.go
Due: HTTP Handlers, Documentation, Core

fix: add WithResponseHeaders and WithUsageLimit to StreamHandler
  stream.go
  stream_test.go
Due: Core

fix: add WithResponseHeaders and WithUsageLimit to StreamHandler (#46)
  stream.go
  stream_test.go
Due: Core

Path conditions:
  HTTP Handlers: any of: handler*.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Engine: any of: engine*.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Documentation: any of: docs*.go, openapi*.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**
  Core: any of: *.go, but not: handler*.go, engine*.go, docs*.go, openapi*.go, *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**
